article {
  p {
    color: #ffffff;
    font-family: var(--typography), monospace, Arial, Helvetica, sans-serif;
    font-size: var(--letterSize);
  }
}

.flex-wrap-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-wrap-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.align-content-center {
  align-content: center;
}

.align-self-center {
  align-self: center;
}

.file-upload-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: #1c683e;
  color: #fff;
  border-style: none;
  padding: 3px 10px;
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 1;
  box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
  transition: all 250ms;
  margin: 10px;

  input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  svg {
    margin-right: 1em;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    border-radius: 0.5em;
    background-color: #469b61;
    z-index: -1;
    transition: all 350ms;
  }
  &:hover::before {
    width: 100%;
  }
}

.file-name {
  align-self: center;
  font-family: var(--typography), monospace, Arial, Helvetica, sans-serif;
  font-size: var(--letterSize);
  font-weight: var(--bold);
  color: #ffffff;
  margin-top: 3px;
}

.fullscreen {
  align-items: center;
  align-self: flex-start;
  background-color: #474343;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
}

.reading {
  background-color: var(--backgroundColor);
  padding-left: var(--marginLeft);
  padding-top: var(--marginTop);
  padding-bottom: 3dvh;
  font-size: var(--letterSize);
  font-weight: var(--bold);
  color: var(--letterColor);
  border: 2px solid #f3dddd;
  cursor: pointer;
  max-width: 99%;
  min-height: 50px;
  max-height: 100dvh;
  overflow: auto;
  scrollbar-color: #e9dada #000000;
  scrollbar-width: thin;

  div {
    margin-bottom: var(--marginRow);
    border: var(--borderWidth) solid transparent;
  }

  pre {
    margin-right: var(--marginSet);
    border-style: var(--borderStyle);
    border-color: transparent;
    border-width: var(--borderWidth);
    font-family: var(--typography), monospace, Arial, Helvetica, sans-serif;
    display: inline;

    &.selected {
      border-style: var(--borderStyle);
      border-bottom-color: var(--borderBottom);
      border-top-color: var(--borderTop);
      border-left-color: var(--borderLeft);
      border-right-color: var(--borderRight);
    }
  }
}

.line-break {
  color: var(--backgroundColor);
}

.reading-button {
  margin: 8px 0px;
  background-color: transparent;
  transition: transform 0.1s;
  border: none;
}

.previous-button {
  &:active {
    transform: translate(-10px, 0px);
  }
}

.next-button {
  &:active {
    transform: translate(10px, 0px);
  }
}

.scale-button {
  &:active {
    transform: scale(1.4);
  }
}

.readingSetting {
  display: grid;
  grid-auto-columns: auto;
  gap: 15px;
}

.save-button {
  background-color: transparent;
  border: none;
  transition: transform 0.2s;
  &:active {
    transform: translate(0px, 10px);
  }
}

.load-button {
  background-color: transparent;
  border: none;
  transition: transform 0.2s;
  &:active {
    transform: translate(0px, -10px);
  }
}
.delete-button {
  background-color: transparent;
  border: none;
  transition: transform 0.2s;
}
