aside {
  background: linear-gradient(to left, #fda949, #d5ec51);
  padding: 2vh 2vw;
  transform: translateY(-100%);
  position: absolute;
  transition: transform 0.4s linear;
  z-index: 2;

  input {
    margin-left: 4px;

    &[type="number"] {
      background: transparent;
      max-width: 50px;
      border-bottom: #000000;
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
      border-width: 2px;
      border-style: solid;
      text-align: center;
    }
  }

  .flex-setting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .flex-setting-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2vh 2vw;
    label {
      min-width: min-content;
      margin-top: 2vh;
    }
  }

  .flex-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4vh;
  }

  .load-button {
    background-color: transparent;
    border: none;
    transition: transform 0.2s;
    margin-right: 4vw;
    &:active {
      transform: translate(0px, -10px);
    }
  }

  .save-button {
    background-color: transparent;
    border: none;
    transition: transform 0.2s;
    margin-right: 4vw;
    &:active {
      transform: translate(0px, 10px);
    }
  }

  .delete-button {
    background-color: transparent;
    border: none;
    transition: transform 0.2s;
  }
}

.reading-settings-button {
  margin-top: 4vh;

  max-height: 100px;
  border: none;
  cursor: pointer;
  border-radius: 0.75em;
  background: #000000;
  padding: 1px 2px 3px 0px;

  span {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 0.75em;
    padding: 0.75em 1em;
    background: #e8e8e8;
    color: #000000;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;

    &:hover {
      transform: translateY(-0.33em);
    }
    &:active {
      transform: translateY(0);
    }
  }
}
