body {
  background-color: #474343;
  margin: 0px;
  padding: 0px;
  min-height: 100dvh;
  max-width: 100vw;
  opacity: 1;
}

.flex-wrap-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-wrap-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.align-content-center {
  align-content: center;
}

.align-self-center {
  align-self: center;
}

.flex-setting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-setting-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2vh 2vw;
  label {
    min-width: min-content;
    margin-top: 2vh;
  }
}

dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 10;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  background: linear-gradient(to bottom, #ffd67d, #ffe08b);
  font-size: var(--letterSize);
  opacity: 0;

  input {
    margin-left: 4px;

    &[type="number"] {
      background: transparent;
      max-width: 100px;
      border-bottom: #000000;
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
      border-width: 2px;
      border-style: solid;
      text-align: center;
      font-size: var(--letterSize);
    }

    &[type="text"] {
      background: transparent;
      max-width: 100px;
      min-width: 50vw;
      border-bottom: #000000;
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
      border-width: 2px;
      border-style: solid;
      text-align: center;
      font-size: var(--letterSize);
    }
  }
}

dialog[open] {
  animation: fadein 0.4s linear forwards;
}

dialog[open]::backdrop {
  background-color: #000000;
  animation: fadein_backdrop 0.4s linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein_backdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

.div-dialog-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.alert {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 5;
  transition: transform 1s linear;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  min-width: 30vw;
  font-weight: bold;
}
