header {
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: black;
  position: relative;
  z-index: 5;

  button {
    background-color: transparent;
    border: none;
    transition: rotate 0.2s;
    max-width: min-content;
    cursor: pointer;
    &:active {
      rotate: 90deg;
    }
  }

  h1 {
    color: white;
    flex-grow: 1;
    text-align: center;
  }
}
